{{>header}}
<title>Interio | ContactUs</title>
{{>navbar}}
<div class="container-fluid">
    <h4 class="text-center p-1 text-light navbar-brand mt-1" style="font-size: x-large">Contact Us</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="mt-1 p-1 text-center" style="background-color:aliceblue">Phone : 8447859784</div>
            <div class="mt-1 p-1 text-center" style="background-color:aliceblue">Email Id : theafzalhussain786@gmail.com
            </div>
            <div class="mt-1 p-1 text-center" style="background-color:aliceblue">A-43, Sector 16, Noida 201301, UP</div>
            <div class="mapouter mt-2">
                <div class="gmap_canvas"><iframe width="100%" height="500" required id="gmap_canvas"
                        src="https://maps.google.com/maps?q=A-43%20sector%2016%20noida%20ducat%20noida&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                        href="https://embedgooglemap.net/124/"></a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 100%;
                        }
                    </style><a href="https://www.embedgooglemap.net"></a>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {{#if show}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              Thanks to Share Your Query With US!!! Our Team Will Contact You Soon!!! 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{/if}}
            <form action="/contact" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label"><b>Name :</b></label>
                    <input type="text" name="name" required id="name" placeholder="Enter the Name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label"><b>Email Address :</b></label>
                    <input type="email" name="email" required id="email" placeholder="Enter Email Id"
                        class="form-control">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label"><b>Phone :</b></label>
                    <input type="text" name="phone" required id="phone" placeholder="Enter Phone Number"
                        class="form-control">
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label"><b>Subject :</b></label>
                    <input type="text" name="subject" required id="subject" placeholder="Enter Subject"
                        class="form-control">
                </div>
                <div class="mb-3">
                    <label for="massage" class="form-label"><b>Massage :</b></label>
                    <textarea name="massage" id="massage" rows="8" placeholder="Enter Massage"
                        class="form-control"></textarea>
                    <div class="d-flex mt-1">
                        <button type="reset" class="btn bg-danger text-light w-50 m-1 p-1">Reset</button>
                        <button type="submit" class="btn bg-secondary text-light w-50 m-1 p-1">Submit</button>
                    </div>
            </form>
        </div>
    </div>
</div>
{{>footer}}