{{>header}}
<title>Interio | Gallary</title>
{{>navbar}}
<div class="container-fluid">
    <h4 class="text-center p-2 text-light navbar-brand mt-1" style="font-size: x-large">Gallary</h4>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p1.jpg"><img src="/assets/p1.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p2.jpg"><img src="/assets/p2.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p3.jpg"><img src="/assets/p3.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p4.jpg"><img src="/assets/p4.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p5.jpg"><img src="/assets/p5.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p6.jpg"><img src="/assets/p6.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p7.jpg"><img src="/assets/p7.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p8.jpg"><img src="/assets/p8.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p9.jpg"><img src="/assets/p9.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p10.jpg"><img src="/assets/p10.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p1.1jpg"><img src="/assets/p11.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p12.jpg"><img src="/assets/p12.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p13.jpg"><img src="/assets/p13.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p14.jpg"><img src="/assets/p14.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p15.jpg"><img src="/assets/p15.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p16.jpg"><img src="/assets/p16.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p17.jpg"><img src="/assets/p17.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p18.jpg"><img src="/assets/p18.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p19.jpg"><img src="/assets/p19.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p20.jpg"><img src="/assets/p20.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p37.jpg"><img src="/assets/p37.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p22.jpg"><img src="/assets/p21.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p23.jpg"><img src="/assets/p23.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p24.jpg"><img src="/assets/p24.jpg" class="w-100  rounded" height="400px"></a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p25.jpg"><img src="/assets/p25.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p26.jpg"><img src="/assets/p26.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p27.jpg"><img src="/assets/p27.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p28.jpg"><img src="/assets/p28.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p29.jpg"><img src="/assets/p29.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p30.jpg"><img src="/assets/p30.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p31.jpg"><img src="/assets/p31.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p32.jpg"><img src="/assets/p32.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p33.jpg"><img src="/assets/p33.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p34.jpg"><img src="/assets/p34.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p35.jpg"><img src="/assets/p35.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <a href="/assets/p36.jpg"><img src="/assets/p36.jpg" class="w-100  rounded" height="400px"></a>
        </div>
        {{>footer}}